body {
  padding-top: 120px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background: url('../img/travel02.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
/*   opacity:0.3!important; filter:alpha(opacity=30); */
} 

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

.img-full {
  min-width: 100%;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}

footer p {
  margin: 0;
  padding: 50px 0;
}